version: '3'
services:
  frontend:
    build: ./frontend
    network_mode: "host"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

  backend:
    build:
      context: ./backend
      args:
        DEBUG_MODE: ${DEBUG_MODE:-false}
    network_mode: "host"
