version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

  backend:
    build:
      context: ./backend
      args:
        DEBUG_MODE: ${DEBUG_MODE:-false}
    ports:
      - "4000:4000"
