version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:4000

  backend:
    build:
      context: ./backend
      args:
        DEBUG_MODE: ${DEBUG_MODE:-false}
    ports:
      - "4000:4000"
